{% extends 'base.html' %}

{% block content %}
<p><b>Почему это безопасно?</b> Открытый исходный код и шифрование данных, это гарантии, что даже владалец не сможет узнать какая информация сейчас хранится.</p>
<p><b>Как это работает?</b> Вы указываете информацию которую необходимо передать и нажимаете "Создать ссылку", далее вам будет предоставлена ссылка и приватный ключ. Что бы получить данные необходимо перейти по ссылке и ввести приватный ключ.</p>
<div id="warning_block">
    <p id="warning_text"><b>Внимание!</b><br>В целях безопасности получить информацию<br>по одной ссылке можно только один раз!<br>Ссылка действительна 24ч.</p>
</div>
    <form action="/generate_link" method="post">
    <label for="subject">Введите информацию которую необходимо передать:</label>
    <textarea id="subject" name="secret_text" placeholder="URL: example.com
Login: admin
Password: admin12345
Notes: to the portal" ></textarea>
    <input type="submit" value="Сгенерировать ссылку">
</form>
{% endblock %}
